@import "../../../../mixin.scss";

:host {
  display: flex;
  flex: 1;
}

.app-header {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: var(--max-page-width-desktop);
  margin: auto;
}

.header-title {
  width: fit-content;
  text-transform: uppercase;
}

.header-navigation {
  margin-left: auto;
  width: fit-content;

  @include screen-mobile-and-smaller {
    display: none;
  }

  ul {
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 0;
    padding-inline-start: 0;
    gap: var(--spacing-medium);
  }

  ul li {
    width: fit-content;
    list-style: none;

    a {
      text-decoration: none;
      font-size: large;
      color: var(--color-white);
    }

    a mat-icon {
      font-size: x-large;
    }
  }
}

.active {
  background-color: rgba(var(--color-black-rgb), 0.2);
}

.mobile-navigation-menu-button {
  display: none;
  margin-left: auto;

  @include screen-mobile-and-smaller {
    display: unset;
  }
}
