<header class="app-header">
  <span class="header-title">Courses Enrollment</span>

  <nav class="header-navigation">
    <ul>
      <li>
        <a mat-flat-button color="primary" routerLink="">Home</a>
      </li>
      <li *ngFor="let page of pagesList">
        <a mat-button [routerLink]="page.path" routerLinkActive="active">{{
          page.title
        }}</a>
      </li>
      <li>
        <a mat-icon-button routerLink="profile" class="account-button">
          <mat-icon fontIcon="person"></mat-icon>
        </a>
      </li>
    </ul>
  </nav>

  <button mat-icon-button type="menu" class="mobile-navigation-menu-button" (click)="toggleMobileMenu()">
    <mat-icon>menu</mat-icon>
  </button>
</header>

<app-sidemenu-mobile [isOpen]="isMobileMenuOpen" (onPressClose)="isMobileMenuOpen = false"></app-sidemenu-mobile>
