<header class="app-header">
  <span class="header-title">Courses Enrollment</span>

  <nav class="header-navigation">
    <ul>
      <li>
        <a mat-flat-button color="primary" routerLink="">Home</a>
      </li>
      <li *ngFor="let page of pagesList">
        <a mat-button [routerLink]="page.path" routerLinkActive="active">{{ page.title }}</a>
      </li>
      <li><a mat-icon-button routerLink="sign-up" class="account-button">
        <mat-icon fontIcon="person"></mat-icon>
      </a></li>
    </ul>
  </nav>
</header>
