:host {
  flex: 1;
  display: flex;
  height: fit-content;
  min-width: 300px;
  gap: var(--spacing-small);

  ::ng-deep .mat-mdc-form-field-bottom-align {
    display: none;
  }
}

.search-input {
  flex: 1;
  flex-grow: 1;
}

.search-btn {
  flex: 0.3;
  height: auto;
}
