@import "../../../../mixin.scss";

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70svh;
}

.home-welcome {
  margin-bottom: var(--spacing-large);
  font-size: x-large;
  opacity: 0;
  animation: opacityAnimation forwards 3s;
  -webkit-animation: opacityAnimation forwards 3s;
  -moz-animation: opacityAnimation forwards 3s;
}

.home-title {
  font-size: 4rem;
  text-align: center;
  line-height: 1;
  opacity: 0;
  animation: fadeAnimation forwards 1.5s;
  -webkit-animation: fadeAnimation forwards 1.5s;
  -moz-animation: fadeAnimation forwards 1.5s;
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;

  @include screen-tablet-and-smaller {
    font-size: 3rem;
  }

  @include screen-mobile-and-smaller {
    font-size: 2rem;
  }
}

.home-subtitle {
  margin-top: var(--spacing-x-large);

  font-size: x-large;
  text-align: center;
  line-height: 1;

  opacity: 0;
  animation: fadeAnimation forwards 1.5s;
  -webkit-animation: fadeAnimation forwards 1.5s;
  -moz-animation: fadeAnimation forwards 1.5s;
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;

  @include screen-tablet-and-smaller {
    font-size: 1.5rem;
  }

  @include screen-mobile-and-smaller {
    font-size: 1.2rem;
  }
}

.home-button {
  opacity: 0;
  animation: buttonAnimation forwards 1s;
  animation: buttonAnimation forwards 1s;
  -webkit-animation: buttonAnimation forwards 1s;
  -moz-animation: buttonAnimation forwards 1s;
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}

@keyframes fadeAnimation {
  from {
    transform: translateY(100px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeAnimation {
  from {
    transform: translateY(100px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes opacityAnimation {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes opacityAnimation {
  to {
    opacity: 1;
  }
}

@keyframes buttonAnimation {
  from {
    transform: scale(0);
  }

  20% {
    transform: scale(1.2) rotateZ(10deg);
  }

  30% {
    transform: scale(1.2) rotateZ(-10deg);
  }

  40% {
    transform: scale(1.2) rotateZ(10deg);
  }

  50% {
    transform: scale(1.2) rotateZ(-10deg);
  }

  60% {
    transform: scale(1.2) rotateZ(10deg);
  }

  70% {
    transform: scale(1.2) rotateZ(-10deg);
  }

  80% {
    transform: scale(1.2) rotateZ(10deg);
  }

  to {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes buttonAnimation {
  from {
    transform: scale(0);
  }

  20% {
    transform: scale(1.2) rotateZ(10deg);
  }

  30% {
    transform: scale(1.2) rotateZ(-10deg);
  }

  40% {
    transform: scale(1.2) rotateZ(10deg);
  }

  50% {
    transform: scale(1.2) rotateZ(-10deg);
  }

  60% {
    transform: scale(1.2) rotateZ(10deg);
  }

  70% {
    transform: scale(1.2) rotateZ(-10deg);
  }

  80% {
    transform: scale(1.2) rotateZ(10deg);
  }

  to {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
  }
}
