<form class="signin-container" [formGroup]="form" (ngSubmit)="onLogin()">
  <h1>Get into your account</h1>

  <mat-form-field>
    <mat-label>E-mail</mat-label>
    <input matInput type="email" formControlName="email" required />
    <mat-error *ngIf="form.get('email')?.invalid">{{
      getEmailErrorMessage()
    }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="password"
      [type]="isPasswordVisible ? 'text' : 'password'"
    />
    <button
      matSuffix
      mat-icon-button
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="isPasswordVisible"
      (click)="togglePassVisible()"
    >
      <mat-icon class="pass-visibility-btn">{{
        isPasswordVisible ? "visibility_off" : "visibility"
      }}</mat-icon>
    </button>
    <mat-error *ngIf="form.get('password')?.invalid">{{
      getPasswordErrorMessage()
    }}</mat-error>
  </mat-form-field>

  <button type="submit" mat-flat-button color="primary">Login</button>
</form>
