@import "../../../../mixin.scss";

.courses-filter {
  display: flex;
  gap: var(--spacing);
  flex-wrap: wrap;
}

.courses-search {
  flex: 1;
  flex-grow: 4;
  margin-bottom: var(--spacing-medium);
}

.courses-sortby {
  flex: 0.3;
  flex-grow: 1;
}

.courses-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  gap: var(--spacing-large);
}

.course-card-container {
  max-width: 350px;
}

.course-card-img {
  aspect-ratio: 1.5;
  width: 100%;
  object-fit: cover;
}

.course-card-header {
  height: 40px;
}

.course-card-description {
  flex: 1;
  padding-top: var(--spacing);

  p {
    @include text-overflow(4);
  }
}

.course-card-footer {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing);
  background-color: var(--color-accent);
  color: var(--color-white);
  margin-top: var(--spacing);
  align-items: center;
}

.course-price {
  font-size: 1.3rem;
  font-weight: bold;
}

.courses--no-course {
  font-size: larger;
}

.sort-none-option {
  opacity: 0.5;
}
