<section class="courses-container">
  <mat-card *ngFor="let course of coursesList" class="course-card-container">
    <mat-card-header class="course-card-header">
      <mat-card-title>{{ course.name }}</mat-card-title>
    </mat-card-header>

    <img
      class="course-card-img"
      [src]="course.image || 'https://placehold.co/600x400/F5F5F5/white/?text=No+Image'"
      [alt]="course.name + ' cover image'"
    />

    <mat-card-content class="course-card-description">
      <p>{{ course.description }}</p>
    </mat-card-content>

    <mat-card-footer class="course-card-footer" color="primary">
      <span class="course-price">{{ course.price | currency }}</span>
      <a mat-flat-button color="primary" [routerLink]="[course.id, 'enrollment']">To Enroll</a>
    </mat-card-footer>
  </mat-card>
</section>
