@mixin text-overflow($number-of-lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $number-of-lines;
  -webkit-box-orient: vertical;
}

@mixin screen-mobile-and-smaller {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin screen-tablet-and-smaller {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin screen-desktop-and-smaller {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}
