@use '@angular/material' as mat;

@include mat.core();

$app-primary: mat.define-palette(mat.$pink-palette);
$app-accent: mat.define-palette(mat.$blue-grey-palette);
$app-warn: mat.define-palette(mat.$red-palette);

$app-theme: mat.define-light-theme((color: (primary: $app-primary,
        accent: $app-accent,
        warn: $app-warn,
      )));

@include mat.all-component-themes($app-theme);

:root {
  --max-page-width: 1400px;

  // Spacing
  --spacing: 10px;
  --spacing-small: calc(var(--spacing) / 2);
  --spacing-medium: calc(var(--spacing) * 2);
  --spacing-large: calc(var(--spacing-medium) * 2);
  --spacing-x-large: calc(var(--spacing-large) * 2);
  --spacing-xx-large: calc(var(--spacing-large) * 3);

  // Colors
  --color-primary: #{mat.get-color-from-palette($app-primary, default)};
  --color-accent: #{mat.get-color-from-palette($app-accent, default)};

  --color-white: #FFFFFF;
  ---color-black: #000000;

  --color-white-rgb: 255, 255, 255;
  --color-black-rgb: 0, 0, 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-success {
  background-color: aqua;
}
