@use '@angular/material' as mat;

@include mat.core();

$app-primary: mat.define-palette(mat.$pink-palette);
$app-accent: mat.define-palette(mat.$blue-grey-palette);
$app-warn: mat.define-palette(mat.$red-palette);
$app-success: mat.define-palette(mat.$green-palette);

$app-theme: mat.define-light-theme((color: (primary: $app-primary,
        accent: $app-accent,
        warn: $app-warn,
        success: $app-success,
      )));

@include mat.all-component-themes($app-theme);

:root {
  $lighter: 50;
  $dark: 900;

  --max-page-width-desktop: 1400px;
  --max-page-width-tablet: 720px;
  --max-page-width-mobile: 300px;

  // Spacing
  --spacing: 10px;
  --spacing-small: calc(var(--spacing) / 2);
  --spacing-medium: calc(var(--spacing) * 2);
  --spacing-large: calc(var(--spacing-medium) * 2);
  --spacing-x-large: calc(var(--spacing-large) * 2);
  --spacing-xx-large: calc(var(--spacing-large) * 3);

  // Colors
  --color-primary: #{mat.get-color-from-palette($app-primary, default)};
  --color-primary-lighter: #{mat.get-color-from-palette($app-primary, $lighter)};
  --color-primary-dark: #{mat.get-color-from-palette($app-primary, $dark)};
  --color-accent: #{mat.get-color-from-palette($app-accent, default)};
  --color-accent-lighter: #{mat.get-color-from-palette($app-accent, $lighter)};
  --color-accent-dark: #{mat.get-color-from-palette($app-accent, $dark)};
  --color-warn: #{mat.get-color-from-palette($app-warn, default)};
  --color-success: #{mat.get-color-from-palette($app-success, default)};

  --color-white: #FFFFFF;
  ---color-black: #000000;

  --color-white-rgb: 255, 255, 255;
  --color-black-rgb: 0, 0, 0;
}

html,
body {
  width: 100%;
  min-height: 100svh;
  height: fit-content;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-warn {
  --mdc-snackbar-container-color: var(--color-warn) !important;
}

.snackbar-success {
  --mdc-snackbar-container-color: var(--color-success) !important;
}
