/* You can add global styles to this file, and also import other style files */

:root {
  --spacing: 10px;
  --spacing-small: calc(var(--spacing) / 2);
  --spacing-medium: calc(var(--spacing) * 2);
  --spacing-large: calc(var(--spacing-medium) * 2);
  --spacing-x-large: calc(var(--spacing-large) * 2);
  --spacing-xx-large: calc(var(--spacing-large) * 3);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
